<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FinancManagerConnectionString" connectionString="Data Source=DESKTOP-G446FD0\SQLEXPRESS;
                                          Initial Catalog = FinancialManager_Db;
                                          Integrated Security=True; Connect Timeout=30;
                                          Encrypt=False;TrustServerCertificate=False;
                                          ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>